In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
!pip install pyarrow

In [ ]:
# Reads a Feather format file containing sales data into a Pandas DataFrame named 'all_data'.
all_data = pd.read_feather(r'./Sales_data.ftr')

In [ ]:
all_data.head(6)

In [ ]:
# Checks for null (missing) values in each element of the Pandas DataFrame 'all_data'.
all_data.isnull()

In [ ]:
all_data.isnull().sum()

In [ ]:
# As we can see all the missing values are in all the columns we can use drop how attribute to all
all_data = all_data.dropna(how="all")

In [ ]:
all_data.isnull().sum()

In [ ]:
# To find duplicated instances
all_data.duplicated()

In [ ]:
# Taking all_data.duplicated as filter and viewing it
all_data[all_data.duplicated()]

In [ ]:
# Dropping all the duplicated values
all_data = all_data.drop_duplicates()

In [ ]:
# To now check the duplicated data, we will find none
all_data[all_data.describe()].sum()

## Best Month of Sale

### To find the best month of sales, as there is no feature like month or no features as sales, but we can extract the month from Order Date and sale price as Quantity ordered multiply with each price.

In [ ]:
all_data.head(2)

### Extracting month feature

In [ ]:
all_data['Order Date']

In [ ]:
all_data['Order Date'][0]

In [ ]:
'04/19/19 08:46'.split(' ')[0]

In [ ]:
# Extracts the month value ('04') from the given date string '04/19/19 08:46' using consecutive split operations.
'04/19/19 08:46'.split(' ')[0].split('/')[0]

### Alternative Approach

In [ ]:
all_data['Order Date'][0].split('/')[0]

In [ ]:
# Defines a function named 'return_month' that takes a string 'x' as input and returns the first element obtained by splitting 'x' using the '/' delimiter.
def return_month(x):
  return x.split('/')[0]

In [ ]:
all_data['Month'] = all_data['Order Date'].apply(return_month)

In [ ]:
all_data.dtypes

In [ ]:
all_data['Month'].unique()

In [ ]:
filter1 = all_data['Month'] == 'Order Date'

In [ ]:
all_data = all_data[~filter1]

all_data['Month'].unique()

## To remove unneccessary warnings

In [ ]:
import warnings
from warnings import filterwarnings
filterwarnings('ignore')

In [ ]:
all_data['Month'] = all_data['Month'].astype(int)

In [ ]:
all_data.dtypes

In [ ]:
# Converts the 'Quantity Ordered' column in the Pandas DataFrame 'all_data' to integer type and the 'Price Each' column to float type.
all_data['Quantity Ordered'] = all_data['Quantity Ordered'].astype(int)
all_data['Price Each'] = all_data['Price Each'].astype(float)

In [ ]:
all_data.dtypes

In [ ]:
all_data['sales'] = all_data['Quantity Ordered'] * all_data['Price Each']

In [ ]:
# Groups the Pandas DataFrame 'all_data' by the 'Month' column and calculates the sum of the 'sales' column within each group.
all_data.groupby(['Month'])['sales'].sum()

## Bar Plot Visualization of Total Sales each Month!

In [ ]:
# Creates a bar plot displaying the total sales for each month by grouping the Pandas DataFrame 'all_data' by the 'Month' column and summing the 'sales' column within each group.
all_data.groupby(['Month'])['sales'].sum().plot(kind='bar')

## Interpretation
# Last month has the highest sale of the year!

# Order Purchased per City

In [ ]:
all_data.head(2)

In [ ]:
all_data['Purchase Address'][0]

In [ ]:
all_data['Purchase Address'][0].split(',')[1]

In [ ]:
all_data['Purchase Address'].str.split(',')

In [ ]:
# Extracts the city name from the 'Purchase Address' column in the Pandas DataFrame 'all_data' by splitting the address using the ',' delimiter and retrieving the second element
all_data['Purchase Address'].str.split(',').str.get(1)

In [ ]:
all_data['city'] = all_data['Purchase Address'].str.split(',').str.get(1)

In [ ]:
all_data['city']

In [ ]:
pd.value_counts(all_data['city'])

In [ ]:
# Generates a pie chart representing the distribution of values in the 'city' column of the Pandas DataFrame 'all_data' using the Pandas 'value_counts' function.
pd.value_counts(all_data['city']).plot(kind='pie')

In [ ]:
pd.value_counts(all_data['city']).plot(kind='pie', autopct='%1.0f%%')

# What products sold the most & why?

In [ ]:
all_data.columns

In [ ]:
# Creates a new DataFrame named 'count_df' by grouping the Pandas DataFrame 'all_data' by the 'Product' column and calculating the sum of 'Quantity Ordered' and the mean of 'Price Each' for each product.
count_df = all_data.groupby(['Product']).agg({'Quantity Ordered': 'sum', 'Price Each': 'mean'})

In [ ]:
count_df = count_df.reset_index()

In [ ]:
count_df

In [ ]:
products = count_df["Product"].values

In [ ]:
# Plots a bar chart and a line plot on the same figure using two y-axes ('ax1' and 'ax2'). The bar chart represents the total quantity ordered for each product, displayed on the left y-axis ('ax1'),
# while the line plot shows the average price of each product on the right y-axis ('ax2'). The x-axis labels are rotated vertically and set to a fontsize of 11. The left y-axis is labeled as 'Order Count,
# ' and the right y-axis is labeled as 'Avg price of product.'
fig, ax1 = plt.subplots()

ax2 = ax1.twinx()
ax1.bar(count_df['Product'], count_df['Quantity Ordered'], color='g')
ax2.plot(count_df['Product'], count_df['Price Each'])

ax1.set_xticklabels(products, rotation = 'vertical', fontsize=11)

ax1.set_ylabel('Order Count')
ax2.set_ylabel('Avg price of product')

# Interpretation 

## We can see that Top selliung product is AAA Batteries (4-pack). It seems that top selling product has correlation with price of the products, cheaper the price higher the quantity ordered